<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- Main Header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/photograph.jpeg" alt="Tanya" class="img-fluid">
                        </figure>
                        </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a<span class="text_clr"> Mern Stack Developer</span>
                            Passionate about learning and coding</h1>
                        <a href="https://github.com/tanyaa29" target="_tanya"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
       {{>footer}}
</body>

</html>